<% include header.ejs %>
<% include nav.ejs %>
<fieldset class="layui-elem-field layui-field-title">
    <legend>基本资料</legend>
</fieldset>
<div class="layui-card">
    用户名：<%- user.username %>
</div>
<div class="layui-card-body"></div>
<%  %>